$white: white;
$light-gray: #F2F2F2;
$gray: #494949;
$dark-gray:#514C4C;
$light-orange: #F8971D;
$orange: #EE8600;
$light-blue: #5CBBE4;
$blue: #0099FF;
$pink: #E6007D;
$cta-blue: rgba(0, 153, 255, 0.4);
$cta-orange: rgba(242, 120, 12, 0.4);
$cta-yellow: rgba(242, 177, 12, 0.6);

$border-orange: 2px solid $orange;
$border-white: 2px solid $white;

$page-color: $white;
$page-inner-padding-1: 20px;
$page-inner-padding-2: 24px;
$page-font-size: 16px;
$page-nav-color: $light-gray;