$page-color: #FFF;
$page-margin-left: 208px;
$page-margin-right: 203px;

$page-nav-color: #F2F2F2;

%page-padding {
  padding-left: $page-margin-left;
  padding-right: $page-margin-right;
}

html, body {
  background-color: $page-color;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.page-header {
  @extend %page-padding;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-nav {
  @extend %page-padding;
  background-color: $page-nav-color;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    align-items: center;

    span {
      color: #494949;
      font-weight: 700;
      font-size: 14px;
      margin-left: 8px;
    }
  }
}

.page-image {
  height: 510px;
  background-image: url('../images/background-1.jpg');
  background-size: cover;
  background-position: center center;
}