$page-color: #FFF;
$page-inner-padding-1: 20px;
$page-inner-padding-2: 24px;
$page-font-size: 16px;

$page-nav-color: #F2F2F2;

@import 'sprites';

@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 650px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 450px)  { @content; }
  }
}

@mixin horizontal-padding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin icon($image, $hoverImage) {
  @include sprite($image);

  &:hover {
    @include sprite($hoverImage);
  }
}

%page-limits {
  max-width: 960px;
  margin: auto;
}

html, body {
  background-color: $page-color;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: $page-font-size;

  @include breakpoint(medium) {
    font-size: 14px;
  }

  @include breakpoint(small) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

.page-header {
  @extend %page-limits;
  @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .company-logo {
    @include sprite($company-logo);
  }
}

.page-nav {
  overflow: hidden;
  background-color: $page-nav-color;

  &.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > div {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      align-items: center;
  
      span {
        color: #494949;
        font-weight: 700;
        font-size: 1rem;
        margin-left: 8px;

        @include breakpoint(small) {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:hover span {
        color: #F8971D;
      }

      &:hover .icon-1 {
        @include sprite($menu-item-1-hover);
      }

      &:hover .icon-2 {
        @include sprite($menu-item-2-hover);
      }

      &:hover .icon-3 {
        @include sprite($menu-item-3-hover);
      }

      .icon-1 {
        @include icon($menu-item-1, $menu-item-1-hover);
      }

      .icon-2 {
        @include icon($menu-item-2, $menu-item-2-hover);
      }

      .icon-3 {
        @include icon($menu-item-3, $menu-item-3-hover);
      }
    }
  }
}

.sticky-nav + .menu-item-1 {
  padding-top: 75px;
}

.menu-item-1 {
  figure {
    margin: 0;
    background-image: url('../images/background-1.jpg');
    background-size: cover;
    background-position: center center;

    height: 510px;

    @include breakpoint(medium) {
      height: 400px;
    }

    @include breakpoint(small) {
      height: 300px;
    }
  }

  article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1);

    h1 {
      @include horizontal-padding($page-inner-padding-2);
      color: #0099FF;
      font-weight: 400;
      font-size: 2.5rem;
    }

    p {
      @include horizontal-padding($page-inner-padding-2);
    }

    .highlight {
      background-color: #0099FF;
      color: white;
    }
  }
}

%absolute-fill {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin cta-layers($layer1Color, $layer2Color) {
  .layer-1 {
    @extend %absolute-fill;
    background-color: $layer1Color;
  }

  .layer-2 {
    @extend %absolute-fill;
    background-color: $layer2Color;
  }
}

%cta {
  min-height: 241px;
  background-size: cover;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  background-image: url('../images/cta-background.jpg');

  background-position: center 25%;

  @include breakpoint(large) {
    background-position: center top;
  }

  article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
    @extend %absolute-fill;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
      margin: 0;
      padding: 0 24px 32px 24px;
      font-size: 1.25rem;
      color: white;
      text-align: center;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px 12px 24px;
      border: 3px solid white;
      border-radius: 3px;
      opacity: 0.85;

      &:hover {
        cursor: pointer;
        background-color: #0099FF;
      }

      span {
        margin-left: 32px;
        margin-right: 32px;
        font-size: 1rem;
        font-weight: 700;
        color: white;
        text-align: center;

        @include breakpoint(large) {
          font-size: $page-font-size;
        }
      }

      .download {
        @include sprite($download);
      }
    }
  }
}

.cta-1 {
  @extend %cta;
  @include cta-layers(rgba(0, 153, 255, 0.4), rgba(242, 177, 12, 0.6));
}

.cta-2 {
  @extend %cta;
  @include cta-layers(rgba(242, 120, 12, 0.4), rgba(242, 177, 12, 0.6));
}

.menu-item-2 {
  > article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);

    h1 {
      color: #EE8600;
      font-weight: 400;
      font-size: 2.5rem;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @include breakpoint(small) {
        flex-wrap: wrap;
      }

      > article {
        &:first-child {
          padding-right: 32px;

          @include breakpoint(small) {
            padding-right: 0;
          }
        }

        &:last-child {
          padding-left: 32px;

          @include breakpoint(small) {
            padding-left: 0;
          }
        }
      }
    }

    > article {
      table {
        margin-top: 16px;
        margin-bottom: 32px;
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: #EE8600;
          color: white;

          th {
            border-top: 2px solid #EE8600;
            border-left: 2px solid white;
            border-right: 2px solid white;
            border-bottom: 2px solid #EE8600;
            width: 66%;
            height: 44px;
            text-align: center;

            &:first-child {
              border-left: 2px solid #EE8600;
            }

            &:last-child {
              border-right: 2px solid #EE8600;
            }
          }
        }

        tbody {
          td {
            border: 2px solid #EE8600;
            width: 33%;
            height: 44px;
            text-align: center;
          }
        }
      }
    }
  }
}

.menu-item-3 {
  article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
    padding-bottom: 32px;

    h1 {
      color: #E6007D;
      font-weight: 400;
      font-size: 2.5rem;
    }

    p {
      color: #514C4C;
    }
  }
}

footer {
  min-height: 80px;
  background-color: #5CBBE4;
  display: flex;

  address {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .line {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 8px 0 8px 0;

      * {
        margin: 0 8px 0 8px;
      }
    }

    .email-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 8px 0 8px 0;

      * {
        margin: 0 8px 0 8px;
      }

      &:hover span {
        text-decoration: underline;
      }

      &:hover div {
        @include sprite($email-hover);
      }
    }

    span, .link {
      color: white;
      font-size: 1rem;
      font-style: normal;
      margin: 8px 8px 8px 8px;
    }

    .link:hover {
      text-decoration: underline;
    }

    .facebook {
      @include icon($facebook, $facebook-hover);
    }

    .twitter {
      @include icon($twitter, $twitter-hover);
    }

    .google-plus {
      @include icon($google-plus, $google-plus-hover);
    }

    .email {
      @include icon($email, $email-hover);
    }

    .instagram {
      @include icon($instagram, $instagram-hover);
    }

    .by-diamond {
      @include sprite($by-diamond);
      margin: 8px 0 8px 0;
    }
  }
}
