@import 'consts';
@import 'utils';
@import 'sprites';

html, body {
  background-color: $page-color;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: $page-font-size;

  @include breakpoint(medium) {
    font-size: 14px;
  }

  @include breakpoint(small) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

header {
  @extend %page-limits;
  @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .company-logo {
    @include sprite($company-logo);
  }
}

nav {
  overflow: hidden;
  background-color: $page-nav-color;

  &.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > div {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      align-items: center;
  
      span {
        color: $gray;
        font-weight: 700;
        font-size: 1rem;
        margin-left: 8px;

        @include breakpoint(small) {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &:hover span {
        color: $light-orange;
      }

      &:hover .icon-1 {
        @include sprite($menu-item-1-hover);
      }

      &:hover .icon-2 {
        @include sprite($menu-item-2-hover);
      }

      &:hover .icon-3 {
        @include sprite($menu-item-3-hover);
      }

      .icon-1 {
        @include icon($menu-item-1, $menu-item-1-hover);
      }

      .icon-2 {
        @include icon($menu-item-2, $menu-item-2-hover);
      }

      .icon-3 {
        @include icon($menu-item-3, $menu-item-3-hover);
      }
    }
  }
}

.sticky-nav + .menu-item-1 {
  padding-top: 75px;
}

.menu-item-1 {
  figure {
    margin: 0;
    background-image: url('../images/background-1.jpg');
    background-size: cover;
    background-position: center center;

    height: 510px;

    @include breakpoint(medium) {
      height: 400px;
    }

    @include breakpoint(small) {
      height: 300px;
    }
  }

  article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1);

    h1 {
      @include horizontal-padding($page-inner-padding-2);
      color: $blue;
      font-weight: 400;
      font-size: 2.5rem;
    }

    p {
      @include horizontal-padding($page-inner-padding-2);
    }

    .highlight {
      background-color: $blue;
      color: white;
    }
  }
}

.cta-1 {
  @extend %cta;
  @include cta-layers($cta-blue, $cta-yellow);
}

.cta-2 {
  @extend %cta;
  @include cta-layers($cta-orange, $cta-yellow);
}

.menu-item-2 {
  > article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);

    h1 {
      color: $orange;
      font-weight: 400;
      font-size: 2.5rem;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      @include breakpoint(small) {
        flex-wrap: wrap;
      }

      > article {
        &:first-child {
          padding-right: 32px;

          @include breakpoint(small) {
            padding-right: 0;
          }
        }

        &:last-child {
          padding-left: 32px;

          @include breakpoint(small) {
            padding-left: 0;
          }
        }
      }
    }

    > article {
      table {
        margin-top: 16px;
        margin-bottom: 32px;
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: $orange;
          color: $white;

          th {
            border-top: $border-orange;
            border-left: $border-white;
            border-right: $border-white;
            border-bottom: $border-orange;
            width: 66%;
            height: 44px;
            text-align: center;

            &:first-child {
              border-left: $border-orange;
            }

            &:last-child {
              border-right: $border-orange;
            }
          }
        }

        tbody {
          td {
            border: $border-orange;
            width: 33%;
            height: 44px;
            text-align: center;
          }
        }
      }
    }
  }
}

.menu-item-3 {
  article {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1 + $page-inner-padding-2);
    padding-bottom: 32px;

    h1 {
      color: $pink;
      font-weight: 400;
      font-size: 2.5rem;
    }

    p {
      color: $dark-gray;
    }
  }
}

footer {
  min-height: 80px;
  background-color: $light-blue;
  display: flex;

  address {
    @extend %page-limits;
    @include horizontal-padding($page-inner-padding-1);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .line {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 8px 0 8px 0;

      * {
        margin: 0 8px 0 8px;
      }
    }

    .email-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 8px 0 8px 0;

      * {
        margin: 0 8px 0 8px;
      }

      &:hover span {
        text-decoration: underline;
      }

      &:hover div {
        @include sprite($email-hover);
      }
    }

    span, .link {
      color: $white;
      font-size: 1rem;
      font-style: normal;
      margin: 8px;
    }

    .link:hover {
      text-decoration: underline;
    }

    .facebook {
      @include icon($facebook, $facebook-hover);
    }

    .twitter {
      @include icon($twitter, $twitter-hover);
    }

    .google-plus {
      @include icon($google-plus, $google-plus-hover);
    }

    .email {
      @include icon($email, $email-hover);
    }

    .instagram {
      @include icon($instagram, $instagram-hover);
    }

    .by-diamond {
      @include sprite($by-diamond);
      margin: 8px 0 8px 0;
    }
  }
}
